body {
  font-size: 12px;
}
[data-dpr="2"] body {
  font-size: 24px;
}
[data-dpr="3"] body {
  font-size: 36px;
}
h1 {
  font-size: 22px;
}
[data-dpr="2"] h1 {
  font-size: 44px;
}
[data-dpr="3"] h1 {
  font-size: 66px;
}
h2 {
  font-size: 20px;
}
[data-dpr="2"] h2 {
  font-size: 40px;
}
[data-dpr="3"] h2 {
  font-size: 60px;
}
h3 {
  font-size: 18px;
}
[data-dpr="2"] h3 {
  font-size: 36px;
}
[data-dpr="3"] h3 {
  font-size: 54px;
}
h4 {
  font-size: 16px;
}
[data-dpr="2"] h4 {
  font-size: 32px;
}
[data-dpr="3"] h4 {
  font-size: 48px;
}
h5 {
  font-size: 14px;
  font-weight: normal;
  color: #8f8f94;
}
[data-dpr="2"] h5 {
  font-size: 28px;
}
[data-dpr="3"] h5 {
  font-size: 42px;
}
h6 {
  font-size: 12px;
  font-weight: normal;
  color: #8f8f94;
}
[data-dpr="2"] h6 {
  font-size: 24px;
}
[data-dpr="3"] h6 {
  font-size: 36px;
}
.college-pic {
  margin-bottom: 0.27rem;
}
.introduce-content li {
  position: relative;
  margin-bottom: 0.4rem;
}
.introduce-content li:last-child {
  margin-bottom: 0;
}
.introduce-content li h4 {
  background: #6a2072;
  width: 9rem;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  color: #fff;
  line-height: 0.53rem;
  padding: 0 0.27rem;
  font-weight: bold;
  margin-bottom: -0.27rem;
  font-size: 12px;
}
.introduce-content li h4 span {
  font-size: 14px;
}
[data-dpr="2"] .introduce-content li h4 span {
  font-size: 28px;
}
[data-dpr="3"] .introduce-content li h4 span {
  font-size: 42px;
}
[data-dpr="2"] .introduce-content li h4 {
  font-size: 24px;
}
[data-dpr="3"] .introduce-content li h4 {
  font-size: 36px;
}
.introduce-datail {
  position: relative;
  z-index: 0;
  border-radius: 0.067rem;
  border: 1px solid #e5e5e5;
  padding: 0.4rem 0.27rem 0.133rem;
}
[data-dpr="2"] .introduce-datail {
  border: 2px solid #e5e5e5;
}
[data-dpr="3"] .introduce-datail {
  border: 3px solid #e5e5e5;
}
.introduce-datail p {
  text-indent: 2em;
  font-size: 12px;
  color: #666;
  line-height: 0.67rem;
}
[data-dpr="2"] .introduce-datail p {
  font-size: 24px;
}
[data-dpr="3"] .introduce-datail p {
  font-size: 36px;
}
.introduce-shcool .introduce-datail {
  border: none;
}
.sense-worth .introduce-content li h4 {
  width: 3.5rem;
  margin-left: 0.2rem;
}
.word-dtail {
  border: 1px solid #e5e5e5;
  border-bottom: none !important;
  padding: 0.27rem;
}
[data-dpr="2"] .word-dtail {
  border: 2px solid #e5e5e5;
}
[data-dpr="3"] .word-dtail {
  border: 3px solid #e5e5e5;
}
.dymic-content ul {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.dymic-content ul li {
  width: 4.3rem;
  margin-right: 0.8rem;
  font-size: 14px;
  margin-top: 0.27rem;
}
[data-dpr="2"] .dymic-content ul li {
  font-size: 28px;
}
[data-dpr="3"] .dymic-content ul li {
  font-size: 42px;
}
.dymic-content ul li img {
  width: 100%;
  height: 2.9rem;
}
.dymic-content ul li:nth-child(2n) {
  margin-right: 0;
}
.dymic-content ul li .dymic-detail {
  padding: 0.2rem;
  border: 1px solid #e5e5e5;
}
[data-dpr="2"] .dymic-content ul li .dymic-detail {
  border: 2px solid #e5e5e5;
}
[data-dpr="3"] .dymic-content ul li .dymic-detail {
  border: 3px solid #e5e5e5;
}
.dymic-content ul li h4 {
  color: #000;
  font-weight: bold;
  font-size: 14px;
  line-height: 0.67rem;
}
[data-dpr="2"] .dymic-content ul li h4 {
  font-size: 28px;
}
[data-dpr="3"] .dymic-content ul li h4 {
  font-size: 42px;
}
.dymic-content ul li .subtit {
  color: #999;
}
.dymic-content ul li p {
  margin-top: 0.27rem;
  line-height: 0.53rem;
}
.more {
  margin: 0.67rem 0 0.4rem;
  text-align: center;
}
.btn {
  color: #fff;
  border-radius: 0.133rem;
  font-size: 14px;
  font-weight: bold;
  background: #6a2072;
  width: 2.67rem;
  display: inline-block;
  line-height: 0.67rem;
  height: 0.67rem;
  text-align: center;
}
[data-dpr="2"] .btn {
  font-size: 28px;
}
[data-dpr="3"] .btn {
  font-size: 42px;
}
.leader-care ul {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.leader-care ul li {
  width: 4.55rem;
  margin-top: 0.4rem;
  margin-right: 0.337rem;
}
.leader-care ul li:nth-child(2n) {
  margin-right: 0;
}
.leader-care ul li .out-pic img {
  display: block;
  width: 100%;
  height: 3.11rem;
}
.leader-care ul li .care-tit {
  font-size: 14px;
  height: 0.53rem;
  font-weight: bold;
  color: #333;
  line-height: 0.53rem;
  margin-top: 0.133rem;
}
[data-dpr="2"] .leader-care ul li .care-tit {
  font-size: 28px;
}
[data-dpr="3"] .leader-care ul li .care-tit {
  font-size: 42px;
}
.about-honour ul {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 0.53rem;
}
.about-honour ul li {
  margin-top: 0.4rem;
}
.about-honour ul li img {
  display: block;
  width: 4.5rem;
  height: 3.11rem;
}
#l-map {
  width: 10rem;
  height: 10rem;
}
.shool-fc ul li {
  margin-bottom: 0.4rem;
}
.shool-fc .fc-content {
  border: 1px solid #e5e5e5;
  padding: 0.2rem;
}
[data-dpr="2"] .shool-fc .fc-content {
  border: 2px solid #e5e5e5;
}
[data-dpr="3"] .shool-fc .fc-content {
  border: 3px solid #e5e5e5;
}
.shool-fc .fc-content h5 {
  color: #333;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0.133rem;
}
[data-dpr="2"] .shool-fc .fc-content h5 {
  font-size: 28px;
}
[data-dpr="3"] .shool-fc .fc-content h5 {
  font-size: 42px;
}
